<a href="https://colab.research.google.com/github/earendil94/SMLExam/blob/preferivolescimmie/Project_leo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset folder is saved in "/content/drive/My Drive/SML/SML_Project".

In [0]:
# link colab and drive
from google.colab import drive
drive.mount("/content/drive", force_remount=True)
# then follow passages

In [0]:
# set

import numpy as np

import torch
from torch import nn
from torch import optim
import torch.nn.functional as F
import pandas as pd

import torchvision
from torchvision import transforms
from IPython import display

torch.manual_seed(160898)

device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print('Device: {}'.format(device))

Device: cuda:0

In [0]:
csv = '/content/drive/My Drive/SML/SML_Project/Chunk1/results.csv'
imgs = '/content/drive/My\ Drive/SML/SML_Project/Chunk1/img1_200/'

!ls {imgs} | wc

    200     200    2382

In [0]:
# set csv
df = pd.read_csv(csv, delimiter='|') 
print(df.shape)
print(df.columns[2], df.columns[2] == ' comment') 
df[' comment'].values[0]
df.head(6)

(158915, 3)
 comment True

       image_name  ...                                            comment
0  1000092795.jpg  ...   Two young guys with shaggy hair look at their...
1  1000092795.jpg  ...   Two young , White males are outside near many...
2  1000092795.jpg  ...   Two men in green shirts are standing in a yard .
3  1000092795.jpg  ...       A man in a blue shirt standing in a garden .
4  1000092795.jpg  ...            Two friends enjoy time spent together .
5    10002456.jpg  ...   Several men in hard hats are operating a gian...

[6 rows x 3 columns]

Work in progress for network, stay tuned.